RewriteEngine On  
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{QUERY_STRING} .
RewriteRule (.*) /$1? [R=301,L]
RewriteRule    ^awardManager/?$    assets/views/awardManager.php    [NC,L]  
RewriteRule    ^eventManager/?$    assets/views/addEvent.php    [NC,L]  
RewriteRule    ^eventGallery/?$    assets/views/events-gallery.php    [NC,L]  
